
/// Resource hover
$resource-hover:    #fafafa;

/// Resource shadow
$resource-shadow:   #ddd;

/// Canonical aubergine
$canonical-aubergine:	#772953;

/// Ubunut orange
$ubuntu-orange:		#dd4814;

/// Box grey for buttons
$box-solid-grey:	#efefef;
