/// the theme's core brand colour
$brand-color: #dd4814;

/// header link color
$header-link-color: #fff;

/// Site maximum width
$site-max-width: 984px;

/// Resource hover
$resource-hover: #fafafa;

/// Resource shadow
$resource-shadow: #ddd;

/// Canonical aubergines
$dark-aubergine: #2c001e; 
$canonical-aubergine: #772953;

/// Ubunut orange
$ubuntu-orange: #dd4814;

/// Box grey for buttons
$box-solid-grey: #efefef;
