<section class="row" id="0.0.13">
<h3>Version 0.0.31 <small>(<a href="https://assets.ubuntu.com/v1/ubuntu-vanilla-theme-version-0.0.31.min.css">minified</a> | <a href="https://assets.ubuntu.com/v1/ubuntu-vanilla-theme-version-0.0.31.css">unminified</a>)</small></h3>
<p>jenkins.ubuntu.qa build</p>
<p><a href="https://github.com/ubuntudesign/vanilla-framework/compare/v0.0.30...v0.0.31">Changes since version 0.0.30</a></p>
</section>

<section class="row" id="0.0.13">
<h3>Version 0.0.30 <small>(<a href="https://assets.ubuntu.com/v1/ubuntu-vanilla-theme-version-0.0.30.min.css">minified</a> | <a href="https://assets.ubuntu.com/v1/ubuntu-vanilla-theme-version-0.0.30.css">unminified</a>)</small></h3>
<p>jenkins.ubuntu.qa build</p>
<p><a href="https://github.com/ubuntudesign/vanilla-framework/compare/v0.0.29...v0.0.30">Changes since version 0.0.29</a></p>
</section>

<section class="row" id="0.0.13">
<h3>Version 0.0.29 <small>(<a href="https://assets.ubuntu.com/v1/ubuntu-vanilla-theme-version-0.0.29.min.css">minified</a> | <a href="https://assets.ubuntu.com/v1/ubuntu-vanilla-theme-version-0.0.29.css">unminified</a>)</small></h3>
<p>jenkins.ubuntu.qa build</p>
<p><a href="https://github.com/ubuntudesign/vanilla-framework/compare/v0.0.28...v0.0.29">Changes since version 0.0.28</a></p>
</section>

<section class="row" id="0.0.13">
<h3>Version 0.0.28 <small>(<a href="https://assets.ubuntu.com/v1/ubuntu-vanilla-theme-version-0.0.28.min.css">minified</a> | <a href="https://assets.ubuntu.com/v1/ubuntu-vanilla-theme-version-0.0.28.css">unminified</a>)</small></h3>
<p>jenkins.ubuntu.qa build</p>
<p><a href="https://github.com/ubuntudesign/vanilla-framework/compare/v0.0.27...v0.0.28">Changes since version 0.0.27</a></p>
</section>

<section class="row" id="0.0.13">
<h3>Version 0.0.27 <small>(<a href="https://assets.ubuntu.com/v1/ubuntu-vanilla-theme-version-0.0.27.min.css">minified</a> | <a href="https://assets.ubuntu.com/v1/ubuntu-vanilla-theme-version-0.0.27.css">unminified</a>)</small></h3>
<p>jenkins.ubuntu.qa build</p>
<p><a href="https://github.com/ubuntudesign/vanilla-framework/compare/v0.0.26...v0.0.27">Changes since version 0.0.26</a></p>
</section>

<section class="row" id="0.0.13">
<h3>Version 0.0.26 <small>(<a href="https://assets.ubuntu.com/v1/ubuntu-vanilla-theme-version-0.0.26.min.css">minified</a> | <a href="https://assets.ubuntu.com/v1/ubuntu-vanilla-theme-version-0.0.26.css">unminified</a>)</small></h3>
<p>jenkins.ubuntu.qa build</p>
<p><a href="https://github.com/ubuntudesign/vanilla-framework/compare/v0.0.25...v0.0.26">Changes since version 0.0.25</a></p>
</section>

<section class="row" id="0.0.13">
<h3>Version 0.0.25 <small>(<a href="https://assets.ubuntu.com/v1/ubuntu-vanilla-theme-version-0.0.25.min.css">minified</a> | <a href="https://assets.ubuntu.com/v1/ubuntu-vanilla-theme-version-0.0.25.css">unminified</a>)</small></h3>
<p>jenkins.ubuntu.qa build</p>
<p><a href="https://github.com/ubuntudesign/vanilla-framework/compare/v0.0.24...v0.0.25">Changes since version 0.0.24</a></p>
</section>

<section class="row" id="0.0.13">
<h3>Version 0.0.24 <small>(<a href="https://assets.ubuntu.com/v1/ubuntu-vanilla-theme-version-0.0.24.min.css">minified</a> | <a href="https://assets.ubuntu.com/v1/ubuntu-vanilla-theme-version-0.0.24.css">unminified</a>)</small></h3>
<p>jenkins.ubuntu.qa build</p>
<p><a href="https://github.com/ubuntudesign/vanilla-framework/compare/v0.0.23...v0.0.24">Changes since version 0.0.23</a></p>
</section>

<section class="row" id="0.0.13">
<h3>Version 0.0.23 <small>(<a href="https://assets.ubuntu.com/v1/ubuntu-vanilla-theme-version-0.0.23.min.css">minified</a> | <a href="https://assets.ubuntu.com/v1/ubuntu-vanilla-theme-version-0.0.23.css">unminified</a>)</small></h3>
<p>jenkins.ubuntu.qa build</p>
<p><a href="https://github.com/ubuntudesign/vanilla-framework/compare/v0.0.22...v0.0.23">Changes since version 0.0.22</a></p>
</section>

<section class="row" id="0.0.13">
<h3>Version 0.0.22 <small>(<a href="https://assets.ubuntu.com/v1/ubuntu-vanilla-theme-version-0.0.22.min.css">minified</a> | <a href="https://assets.ubuntu.com/v1/ubuntu-vanilla-theme-version-0.0.22.css">unminified</a>)</small></h3>
<p>jenkins.ubuntu.qa build</p>
<p><a href="https://github.com/ubuntudesign/vanilla-framework/compare/v0.0.21...v0.0.22">Changes since version 0.0.21</a></p>
</section>

<section class="row" id="0.0.13">
<h3>Version 0.0.21 <small>(<a href="https://assets.ubuntu.com/v1/ubuntu-vanilla-theme-version-0.0.21.min.css">minified</a> | <a href="https://assets.ubuntu.com/v1/ubuntu-vanilla-theme-version-0.0.21.css">unminified</a>)</small></h3>
<p>jenkins.ubuntu.qa build</p>
<p><a href="https://github.com/ubuntudesign/vanilla-framework/compare/v0.0.20...v0.0.21">Changes since version 0.0.20</a></p>
</section>

<section class="row" id="0.0.13">
<h3>Version 0.0.20 <small>(<a href="https://assets.ubuntu.com/v1/ubuntu-vanilla-theme-version-0.0.20.min.css">minified</a> | <a href="https://assets.ubuntu.com/v1/ubuntu-vanilla-theme-version-0.0.20.css">unminified</a>)</small></h3>
<p>jenkins.ubuntu.qa build</p>
<p><a href="https://github.com/ubuntudesign/vanilla-framework/compare/v0.0.19...v0.0.20">Changes since version 0.0.19</a></p>
</section>

<section class="row" id="0.0.13">
<h3>Version 0.0.19 <small>(<a href="https://assets.ubuntu.com/v1/ubuntu-vanilla-theme-version-0.0.19.min.css">minified</a> | <a href="https://assets.ubuntu.com/v1/ubuntu-vanilla-theme-version-0.0.19.css">unminified</a>)</small></h3>
<p>jenkins.ubuntu.qa build</p>
<p><a href="https://github.com/ubuntudesign/vanilla-framework/compare/v0.0.18...v0.0.19">Changes since version 0.0.18</a></p>
</section>

<section class="row" id="0.0.13">
<h3>Version 0.0.18 <small>(<a href="https://assets.ubuntu.com/v1/ubuntu-vanilla-theme-version-0.0.18.min.css">minified</a> | <a href="https://assets.ubuntu.com/v1/ubuntu-vanilla-theme-version-0.0.18.css">unminified</a>)</small></h3>
<p>jenkins.ubuntu.qa build</p>
<p><a href="https://github.com/ubuntudesign/vanilla-framework/compare/v0.0.17...v0.0.18">Changes since version 0.0.17</a></p>
</section>

<section class="row" id="0.0.13">
<h3>Version 0.0.17 <small>(<a href="https://assets.ubuntu.com/v1/ubuntu-vanilla-theme-version-0.0.17.min.css">minified</a> | <a href="https://assets.ubuntu.com/v1/ubuntu-vanilla-theme-version-0.0.17.css">unminified</a>)</small></h3>
<p>jenkins.ubuntu.qa build</p>
<p><a href="https://github.com/ubuntudesign/vanilla-framework/compare/v0.0.16...v0.0.17">Changes since version 0.0.16</a></p>
</section>

<section class="row" id="0.0.13">
<h3>Version 0.0.16 <small>(<a href="https://assets.ubuntu.com/v1/ubuntu-vanilla-theme-version-0.0.16.min.css">minified</a> | <a href="https://assets.ubuntu.com/v1/ubuntu-vanilla-theme-version-0.0.16.css">unminified</a>)</small></h3>
<p>jenkins.ubuntu.qa build</p>
<p><a href="https://github.com/ubuntudesign/vanilla-framework/compare/v0.0.15...v0.0.16">Changes since version 0.0.15</a></p>
</section>
