<section class="row" id="0.0.13">
<h3>Version 0.0.22 <small>(<a href="https://assets.ubuntu.com/v1/ubuntu-vanilla-theme-version-0.0.22.min.css">minified</a> | <a href="https://assets.ubuntu.com/v1/ubuntu-vanilla-theme-version-0.0.22.css">unminified</a>)</small></h3>
<p>jenkins.ubuntu.qa build</p>
<p><a href="https://github.com/ubuntudesign/vanilla-framework/compare/v0.0.21...v0.0.22">Changes since version 0.0.21</a></p>
</section>

<section class="row" id="0.0.13">
<h3>Version 0.0.21 <small>(<a href="https://assets.ubuntu.com/v1/ubuntu-vanilla-theme-version-0.0.21.min.css">minified</a> | <a href="https://assets.ubuntu.com/v1/ubuntu-vanilla-theme-version-0.0.21.css">unminified</a>)</small></h3>
<p>jenkins.ubuntu.qa build</p>
<p><a href="https://github.com/ubuntudesign/vanilla-framework/compare/v0.0.20...v0.0.21">Changes since version 0.0.20</a></p>
</section>

<section class="row" id="0.0.13">
<h3>Version 0.0.20 <small>(<a href="https://assets.ubuntu.com/v1/ubuntu-vanilla-theme-version-0.0.20.min.css">minified</a> | <a href="https://assets.ubuntu.com/v1/ubuntu-vanilla-theme-version-0.0.20.css">unminified</a>)</small></h3>
<p>jenkins.ubuntu.qa build</p>
<p><a href="https://github.com/ubuntudesign/vanilla-framework/compare/v0.0.19...v0.0.20">Changes since version 0.0.19</a></p>
</section>

<section class="row" id="0.0.13">
<h3>Version 0.0.19 <small>(<a href="https://assets.ubuntu.com/v1/ubuntu-vanilla-theme-version-0.0.19.min.css">minified</a> | <a href="https://assets.ubuntu.com/v1/ubuntu-vanilla-theme-version-0.0.19.css">unminified</a>)</small></h3>
<p>jenkins.ubuntu.qa build</p>
<p><a href="https://github.com/ubuntudesign/vanilla-framework/compare/v0.0.18...v0.0.19">Changes since version 0.0.18</a></p>
</section>

<section class="row" id="0.0.13">
<h3>Version 0.0.18 <small>(<a href="https://assets.ubuntu.com/v1/ubuntu-vanilla-theme-version-0.0.18.min.css">minified</a> | <a href="https://assets.ubuntu.com/v1/ubuntu-vanilla-theme-version-0.0.18.css">unminified</a>)</small></h3>
<p>jenkins.ubuntu.qa build</p>
<p><a href="https://github.com/ubuntudesign/vanilla-framework/compare/v0.0.17...v0.0.18">Changes since version 0.0.17</a></p>
</section>

<section class="row" id="0.0.13">
<h3>Version 0.0.17 <small>(<a href="https://assets.ubuntu.com/v1/ubuntu-vanilla-theme-version-0.0.17.min.css">minified</a> | <a href="https://assets.ubuntu.com/v1/ubuntu-vanilla-theme-version-0.0.17.css">unminified</a>)</small></h3>
<p>jenkins.ubuntu.qa build</p>
<p><a href="https://github.com/ubuntudesign/vanilla-framework/compare/v0.0.16...v0.0.17">Changes since version 0.0.16</a></p>
</section>

<section class="row" id="0.0.13">
<h3>Version 0.0.16 <small>(<a href="https://assets.ubuntu.com/v1/ubuntu-vanilla-theme-version-0.0.16.min.css">minified</a> | <a href="https://assets.ubuntu.com/v1/ubuntu-vanilla-theme-version-0.0.16.css">unminified</a>)</small></h3>
<p>jenkins.ubuntu.qa build</p>
<p><a href="https://github.com/ubuntudesign/vanilla-framework/compare/v0.0.15...v0.0.16">Changes since version 0.0.15</a></p>
</section>
