////
/// @author       Web Team at Canonical Ltd
/// @link         http://ubuntudesign.github.io/vanilla-framework/docs/#mixin-ubuntu-lists
/// @since        0.0.3
////

/// Canoical list styling
/// @group Lists
/// @example
///   <ul>
///     <li>...</li>
///   </ul>
@mixin ubuntu-lists {
  
  /// Canonical style lists with ticks 
  .list-ticks--canonical {
    @extend %list-ticks;
    
    li {
      background-image: svg-tick($canonical-aubergine);
    }
  }

  /// Canonical style lists with ticks 
  .list-ticks--compact {
    @extend %list-ticks;
    
    li {
      background-image: svg-tick($bullet-color);
      border: 0;
      padding: 10px 0 0 25px;
    }
  }
}
